<html>
    <head>
        <title>Show topics</title>
    </head>
    <body>
        {% load favorite_tags %}

        <h1>Showing Topics</h1>
        
            Select a topic and chose the favorite option if you like it
        <hr />
        
            Result: {{ result }}<br />
            Error: {{ errors }}<br />
            Message: {{ message }}<br />

        
        <div style="float:left;">
            <ul>
                {% for i in topics %}
                    <li> <a href="{% url viewtopic %}?topic={{i.id}}"> {{ i }} </a></li>
                {% endfor %}
            </ul>
        </div>
        <div style="float:left;margin-left:50px;">
            <h3>My Favorites</h3>

            {% for fav in user|my_favorites %}
                <li>User liked {{fav.favorite_object}} - {{fav.obj}}</li>
            {% endfor %}
        </div>

    </body>
</html>