<html>
    <head>
        <title>Topic {{topic.name}}</title>
    </head>
    <body>
        {% load favorite_tags %}
        <h1>Showing {{topic.name}}</h1>
        <a href="/">Back</a>

        <br /><br />
        {{ user|check_favorite:topic }}
        {% if not user|check_favorite:topic %}
            You have not rated this item!<br />
            <a href="{{user|favorite_object:topic}}">Add to Favorites!</a>
        {% endif %}

        <!-- favorites link templatetag here -->

    </body>
</html>