<html>
    <head>
        <title>Topic {{topic.name}}</title>
    </head>
    <body>
        {% load favorite_tags %}
        <h1>Showing {{topic.name}}</h1>
        <a href="/">Back</a><br /><br />

        Result: {{ result }}<br />
        Error: {{ errors }}<br />
        Message: {{ message }}<br />

        <br /><br />

        {% if not user|check_favorite:topic %}
            You have not liked this item!<br />
            <a href="{{user|favorite_object:topic}}">Add to Favorites</a>
        {% else %}
            You like this!<br />
            <a href="{{user|unfavorite_object:topic}}">Remove from Favorites</a>
        {% endif %}

        <!-- favorites link templatetag here -->

    </body>
</html>